.footer {

   .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      /* Ajusta la opacidad según sea necesario */
      z-index: 1;
   }

   .container {
      position: relative;
      z-index: 3;
      /* Asegura que el contenido esté sobre la superposición */

      h2 {
         margin-top: 6rem;

      }

      p {
         text-align: center;
         font-size: 1rem;
         text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      }
   }

   .svg1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 1;
   }

}