// Variable overrides first
$primary: #f9b213;
$secondary: #11405e;
$white: #fff;

//Media queries
$telefono: 380px;
$tablet:768px;
$desktop: 1200px;
$desktopXL: 1400px;


/* Font */
$font-family-sans-serif: "Oswald", sans-serif;

$navbar-dark-hover-color:           rgba($primary, 1);
$navbar-light-hover-color:           rgba($secondary, .75);

$navbar-dark-color: $white;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8
);
//margenes negativos
$enable-negative-margins: true;

// Then import Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

